@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jersey+20+Charted&family=Oldenburg&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
    margin-left: 2vw;
    margin-right: 2vw;

      font-family: "Space Mono";
    

  }
}

h1, h2, h3, h4     {font-family: "Texturina", serif;
font-optical-sizing: auto;
font-style: normal;
};

p {
  font-family: "Space Mono";
}
